{{#panels}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#{{collapseNum}}">
          <img src="{{panelImgSrc}}" class="img-circle img-circle-home">
          {{panelTitle}}
        </a>
      </h4>
    </div>
    <div id="{{collapseNum}}" class="panel-collapse collapse {{collapsed}}">
      <div class="panel-body">                    
        <h3>{{bodyTitle}}</h3>
        <p>
          {{bodyText}}
        </p>
        <ul class="body_list">
          {{#each bodyList}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
{{/panels}}
